<div>

  <div class = 'panel panel-default'>
    <div class = 'panel-body'>
      <%= link_to 'Log in', new_user_session_path %>
    </div>
  </div>
  <div class = 'panel panel-default'>
    <div class = 'panel-body'>
      <%= link_to 'Sign Up', new_user_registration_path %>
    </div>
  </div>

</div>
