<%= button_to "fields/#{field.id}", class: "list-group-item" do %>
  <% if turn %>
    <span class="badge red-badge">your turn</span>
  <% else %>
    <span class="badge green-badge">waiting</span>
  <% end %>
  Cras justo odio <span> with </span>
<% end %>
