<%= link_to "/fields/#{field.id}", class: "list-group-item game-li" do %>
  <% if field.is_finished %>
    <span class="badge">finished</span>
  <% elsif field.turn == (field.owner_id == player ? 1 : 2) %>
    <span class="badge green-badge">your turn</span>
  <% else %>
    <span class="badge red-badge">waiting</span>
  <% end %>
  <%= field.name %>
<% end %>
